data/
forecast_result/
grid/
selected_data/
sensors/
sensors_data/
to_extract/
transformed_data/
weather/
weather_data/

api_key.pkl
evaluation.csv
features.csv
frozen_distance_matrix_grid.pkl
ids.txt
instalations.csv
interpolation.ipynb
one_data_file.csv
powiaty.zip
selection.csv

__pycache__/
*/__pycache__/*